head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible" content="ie=edge")
  title Mirocana Component
  link(rel="stylesheet" href="styles/style.min.css")
  link(rel="stylesheet" href="styles/bootstrap-grid.min.css")
  link(rel="stylesheet" href="styles/font-awesome.min.css")