each i in [1,2,3,4,5,6,7,8,9,10]
  tr.hover-shadow-3
    td
      img(src="images/icons/flags.png")
    td Aeron#[br]#[span.dsbl arn]
    td 32 Days
    td no
    td #[span.indicator 30/100]
    td #[span.indicator 50/100]
    td $ #[span.money 30000000]
    td $ #[span.money 19000000]
    td 0.12 / 0.34 / 0.72
    td
      i.fa.fa-chevron-right