doctype html
html(lang="en" ng-app="Mirocana")
  include templates/head
  body(ng-controller="mainCtrl")
    header
      .brand
        p Mirocana

    .loader
      i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
      span.sr-only Loading...

    main
      .container
        .card-block.shadow-mirocana.shadow-mirocana-hover#one
          h3 Target
          p Advanced ICO analytics powered by artificial intelligence and hundreds of experts and analysts.
        #two
          .row
            .col-12.col-md
              .stat-block.card-block.shadow-mirocana.shadow-mirocana-hover
                .ico
                  img(src="images/icons/profile.png")
                .info-block
                  p.heading Your ID
                  p.content 1234jhkjdfsg-132412gsdfg-asdfasdf
                  a(href="#").btn.btn-settings Settings

            .col-12.col-md
              .stat-block.card-block.shadow-mirocana.shadow-mirocana-hover
                .ico
                  img(src="images/icons/coins.png")
                .info-block
                  p.heading Trust rating
                  p.content #[nobr.big 5 200] #[i.mirocana-icon &nbsp;]
                  a(href="#").btn.btn-activity Activity
            .col-12.col-md
              .stat-block.card-block.shadow-mirocana.shadow-mirocana-hover
                .ico
                  img(src="images/icons/time.png")
                .info-block
                  p.heading Session expires in:
                  p.content #[span.big 45] minutes #[span.big 12] seconds
                  a(href="#").btn.btn-logout Logout

        #three.shadow-mirocana
          .row.no-gutters
            .col-12.col-md
              .tab.active
                p.tab-text Upcoming
            .col-12.col-md
              .tab
                p.tab-text Ongoing
            .col-12.col-md
              .tab
                p.tab-text History
          .filter-row
            .row.no-gutters
              .switch.col-12.col-md
                label(for="switch")
                  span.switch-item(ng-class="switchItem1") All projects
                label(for="switch")
                  input#switch(type="checkbox" ng-model="checked" ng-change="switcher()")
                label(for="switch")
                  span.switch-item(ng-class="switchItem2") Most promissive projects
              .search.col-12.col-md
                label#search-label(for="search")
                input#search(type="text" placeholder="Search among all projects" ng-model="searchText")
        #four.shadow-mirocana
          h2.heading Market predictions
          .table-wrapper
            table
              thead
                tr
                  th 
                  th Name
                  th Starts in
                  th Investment#[br]opportunities
                  th Crowd rating
                  th Investment#[br]rating
                  th Target
                  th Predicted#[br]proseeds raised
                  th Predicted X factor #[br]in #[nobr #[strong 7 / 30 / 90]] days 
                  th
              tbody
                tr.hover-shadow-2(ng-repeat="row in data | filter:searchText | limitTo: numLimit track by $index")
                  td
                    img.ico(ng-src="{{row.img}}")
                  td {{row.name}}#[br]#[span.dsbl {{row.ticket}}]
                  td {{row.start_in}}
                  td {{row.opportunities}}
                  td [span.indicator {{row.expert_rating}}/100]
                  td [span.indicator {{row.investment_rating}}/100]
                  td {{row.target_currency}} #[span.money {{row.target}}]
                  td {{row.target_currency}} #[span.money {{row.target_prediction}}]
                  td {{ row['7_x_prediction'] }} / {{ row['30_x_prediction'] }} / {{ row['90_x_prediction'] }}
                  td
                    i.fa.fa-chevron-right
                //- include templates/tr
          .show-more
            a.btn.btn-grey(href="" ng-click="numLimit = numLimit + 10") Show more data
    footer
      .copyright
        p &copy; Mirocana
    include templates/scripts