@font-face
{
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal; 

    src: url('fonts/montserrat.ttf') format('ttf'), url('fonts/montserrat.woff2') format('woff2'), url('fonts/montserrat.woff') format('woff');
}

@font-face
{
    font-family: 'Saira';
    font-weight: 100;
    font-style: normal; 

    src: url('fonts/SairaSemiCondensed-Thin.ttf') format('ttf'), url('fonts/SairaSemiCondensed-Thin.woff2') format('woff2'), url('fonts/SairaSemiCondensed-Thin.woff') format('woff');
}

@font-face
{
    font-family: 'Saira';
    font-weight: 200;
    font-style: normal; 

    src: url('fonts/SairaSemiCondensed-Light.ttf') format('ttf'), url('fonts/SairaSemiCondensed-Light.woff2') format('woff2'), url('fonts/SairaSemiCondensed-Light.woff') format('woff');
}

@font-face
{
    font-family: 'Saira';
    font-weight: 300;
    font-style: normal; 

    src: url('fonts/SairaSemiCondensed-Regular.ttf') format('ttf'), url('fonts/SairaSemiCondensed-Regular.woff2') format('woff2'), url('fonts/SairaSemiCondensed-Regular.woff') format('woff');
}

@font-face
{
    font-family: 'Saira';
    font-weight: 400;
    font-style: normal; 

    src: url('fonts/SairaSemiCondensed-Medium.ttf') format('ttf'), url('fonts/SairaSemiCondensed-Medium.woff2') format('woff2'), url('fonts/SairaSemiCondensed-Medium.woff') format('woff');
}

@font-face
{
    font-family: 'Saira';
    font-weight: 500;
    font-style: normal; 

    src: url('fonts/SairaSemiCondensed-SemiBold.ttf') format('ttf'), url('fonts/SairaSemiCondensed-SemiBold.woff2') format('woff2'), url('fonts/SairaSemiCondensed-SemiBold.woff') format('woff');
}

@font-face
{
    font-family: 'Saira';
    font-weight: 600;
    font-style: normal; 

    src: url('fonts/SairaSemiCondensed-Bold.ttf') format('ttf'), url('fonts/SairaSemiCondensed-Bold.woff2') format('woff2'), url('fonts/SairaSemiCondensed-Bold.woff') format('woff');
}

@font-face
{
    font-family: 'Saira';
    font-weight: 700;
    font-style: normal; 

    src: url('fonts/SairaSemiCondensed-ExtraBold.ttf') format('ttf'), url('fonts/SairaSemiCondensed-ExtraBold.woff2') format('woff2'), url('fonts/SairaSemiCondensed-ExtraBold.woff') format('woff');
}

/*! normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css */
html
{
    font-family: sans-serif;
    line-height: 1.15;

        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;
}

article,
aside,
footer,
header,
nav,
section
{
    display: block;
}

h1
{
    font-size: 2em;

    margin: .67em 0;
}

figcaption,
figure,
main
{
    display: block;
}

figure
{
    margin: 1em 40px;
}

hr
{
    overflow: visible; 

    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    height: 0;
}

pre
{
    font-family: monospace, monospace;
    font-size: 1em;
}

a
{
    background-color: transparent;

    -webkit-text-decoration-skip: objects;
}

a:active,
a:hover
{
    outline-width: 0;
}

abbr[title]
{
            text-decoration: underline;
            text-decoration: underline dotted; 

    border-bottom: none;

    -webkit-text-decoration: underline dotted;
}

b,
strong
{
    font-weight: inherit;
}

b,
strong
{
    font-weight: bold;
}

code,
kbd,
samp
{
    font-family: monospace, monospace;
    font-size: 1em;
}

dfn
{
    font-style: italic;
}

mark
{
    color: #000; 
    background-color: #ff0;
}

p
{
    margin-top: 0;
    margin-right: 0; 
    margin-left: 0;
}

small
{
    font-size: 80%;
}

sub,
sup
{
    font-size: 75%;
    line-height: 0;

    position: relative;

    vertical-align: baseline;
}

sub
{
    bottom: -.25em;
}

sup
{
    top: -.5em;
}

audio,
video
{
    display: inline-block;
}

audio:not([controls])
{
    display: none;

    height: 0;
}

img
{
    border-style: none;
}

svg:not(:root)
{
    overflow: hidden;
}

button,
input,
optgroup,
select,
textarea
{
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;

    margin: 0;
}

button,
input
{
    overflow: visible;
}

button,
select
{
    text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit']
{
    -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner
{
    padding: 0; 

    border-style: none;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring
{
    outline: 1px dotted ButtonText;
}

fieldset
{
    margin: 0 2px;
    padding: .35em .625em .75em; 

    border: 1px solid #c0c0c0;
}

legend
{
    display: table;

    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    max-width: 100%;
    padding: 0;

    white-space: normal; 

    color: inherit;
}

progress
{
    display: inline-block;

    vertical-align: baseline;
}

textarea
{
    overflow: auto;
}

[type='checkbox'],
[type='radio']
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0;
}

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button
{
    height: auto;
}

[type='search']
{
    outline-offset: -2px; 

    -webkit-appearance: textfield;
}

[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration
{
    -webkit-appearance: none;
}

::-webkit-file-upload-button
{
    font: inherit; 

    -webkit-appearance: button;
}

details,
menu
{
    display: block;
}

summary
{
    display: list-item;
}

canvas
{
    display: inline-block;
}

template
{
    display: none;
}

[hidden]
{
    display: none;
}

.text-blue
{
    color: #4338de;
}

.text-grey
{
    color: #a0a2bf;
}

.text-dark-blue
{
    color: #00055a;
}

.text-center
{
    text-align: center;
}

.card-block
{
    padding: 20px; 

    background: #fff;
}

.shadow-1
{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.shadow-2
{
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .3);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .3);
}

.shadow-3
{
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .3);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .3);
}

.shadow-4
{
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3);
            box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3);
}

.shadow-5
{
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .3);
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .3);
}

.shadow-mirocana
{
    -webkit-box-shadow: 4px 4px 15px -4px rgba(0, 0, 0, .43);
            box-shadow: 4px 4px 15px -4px rgba(0, 0, 0, .43);
}

.hover-shadow-1
{
    -webkit-transition: .5s ease .1s;
            transition: .5s ease .1s;
}
.hover-shadow-1:hover
{
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, .2);
}

.hover-shadow-2
{
    -webkit-transition: .5s ease .1s;
            transition: .5s ease .1s;
}
.hover-shadow-2:hover
{
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .25);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .25);
}

.hover-shadow-3
{
    -webkit-transition: .5s ease .1s;
            transition: .5s ease .1s;
}
.hover-shadow-3:hover
{
    -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .3);
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .3);
}

.hover-shadow-4
{
    -webkit-transition: .5s ease .1s;
            transition: .5s ease .1s;
}
.hover-shadow-4:hover
{
    -webkit-box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3);
            box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .3);
}

.hover-shadow-5
{
    -webkit-transition: .5s ease .1s;
            transition: .5s ease .1s;
}
.hover-shadow-5:hover
{
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .3);
            box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .3);
}

.shadow-mirocana-hover
{
    -webkit-transition: .5s ease .1s;
            transition: .5s ease .1s;
}
.shadow-mirocana-hover:hover
{
    -webkit-box-shadow: 6px 8px 20px -5px rgba(0, 0, 0, .43);
            box-shadow: 6px 8px 20px -5px rgba(0, 0, 0, .43);
}

.mirocana-icon:before
{
    content: url('../images/icons/mirocana-icon.png');
}

.big
{
    font-size: 120%;
}

table
{
    border-collapse: collapse;
}

footer
{
    margin-top: 50px; 
    padding: 10px;

    text-align: center;
}

.loader
{
    height: 72vh;
}
.loader i.fa
{
    display: block; 

    margin: 10% auto;
}

body
{
    font-family: 'Saira', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;

    letter-spacing: 1px; 

    color: #00055a;
    background: url('../images/pattern-bg.png'), #f4f5f8;
}

header .brand
{
    font-family: 'Montserrat', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    font-size: 26px;

    margin: 3rem; 

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #4338de;
}

main
{
    height: 0;

    -webkit-transition: .5s ease .1s;
            transition: .5s ease .1s; 

    opacity: 0;
}
main .container
{
    display: none;
}

#one
{
    margin-bottom: 20px; 

    text-align: center;
}
#one h3
{
    font-size: 25px;
    font-weight: 500;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #4338de;
}
#one p
{
    font-size: 18px;
}
@media (min-width: 992px)
{
    #one p
    {
        max-width: 46%;
        margin: 0 auto 20px;
    }
}

#two
{
    margin-bottom: 20px;
}
#two .row
{
    margin-right: -2px; 
    margin-left: -2px;
}
#two .col-12
{
    padding: 2px;
}
#two .stat-block
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    height: 100%;
}
#two .stat-block .ico
{
    display: block;
}
#two .stat-block .info-block
{
    position: relative; 

    padding-right: 10px;
    padding-left: 10px;
}
#two .stat-block .info-block .heading
{
    text-transform: uppercase;

    color: #a0a2bf;
}
#two .stat-block .info-block .content
{
    font-size: 14px; 

    min-height: 60px;

    text-transform: uppercase;

    color: #00055a;
}
#two .stat-block .info-block .btn
{
    font-size: 13px;

    position: absolute;
    bottom: 0;

    display: block; 

    margin-top: 35px;

    text-decoration: none;
    text-transform: uppercase;

    color: #4338de;
}
#two .stat-block .info-block .btn:hover
{
    text-decoration: underline;
}
#two .stat-block .info-block .btn:before
{
    display: inline-block; 

    margin-right: 5px;
}
#two .stat-block .info-block .btn-settings:before
{
    content: url('../images/icons/settings.png');
}
#two .stat-block .info-block .btn-activity:before
{
    content: url('../images/icons/activity.png');
}
#two .stat-block .info-block .btn-logout:before
{
    content: url('../images/icons/logout.png');
}

#three .row .col-12:first-child .tab
{
    border-left: none;
}

#three .row .col-12:last-child .tab
{
    border-right: none;
}

#three .tab
{
    padding: 20px;

    text-align: center;

    color: #a0a2bf;
    border: 1px solid #ddd;
    border-top: none; 
    background: #fff;
}
#three .tab.active
{
    border-bottom: 2px solid #4338de;
}
#three .tab.active .tab-text
{
    color: #4338de;
}
#three .tab:hover
{
    cursor: pointer;
}
#three .tab .tab-text
{
    margin-bottom: 0;

    text-transform: uppercase;
}

#three .filter-row
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    padding: 20px;

    border-bottom: 1px solid #ddd;
    background: #fff;

    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media (max-width: 767px)
{
    #three .filter-row
    {
        padding: 20px 0;
    }
}
#three .filter-row .row
{
    width: 100%;
}
#three .filter-row #search-label
{
    position: relative;
    top: 2px; 
    left: 35px;
}
@media (max-width: 767px)
{
    #three .filter-row #search-label
    {
        position: absolute;
        top: 21px;
    }
}
#three .filter-row #search-label:before
{
    content: url('../images/icons/search.png');
}
#three .filter-row #search
{
    font-family: 'Saira', -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

    width: 55%;
    margin-right: 20px; 
    padding: 20px 20px 20px 45px;

    border: none;
    background: #f4f5f8;
}
#three .filter-row #search::-webkit-input-placeholder
{
    font-weight: 300;
}
#three .filter-row #search:-ms-input-placeholder
{
    font-weight: 300;
}
#three .filter-row #search::-moz-placeholder
{
    font-weight: 300;
}
#three .filter-row #search:-moz-placeholder
{
    font-weight: 300;
}
#three .filter-row #search:focus::-webkit-input-placeholder
{
    font-size: 90%;
    font-weight: 300; 

    -webkit-transition: .5s ease 0s;
            transition: .5s ease 0s;

    opacity: .4;
}
#three .filter-row #search:focus:-ms-input-placeholder
{
    font-size: 90%;
    font-weight: 300; 

    -webkit-transition: .5s ease 0s;
            transition: .5s ease 0s;

    opacity: .4;
}
#three .filter-row #search:focus::-moz-placeholder
{
    font-size: 90%;
    font-weight: 300; 

    -webkit-transition: .5s ease 0s;
            transition: .5s ease 0s;

    opacity: .4;
}
#three .filter-row #search:focus:-moz-placeholder
{
    font-size: 90%;
    font-weight: 300; 

    -webkit-transition: .5s ease 0s;
            transition: .5s ease 0s;

    opacity: .4;
}

@media (min-width: 768px) and (max-width: 991px)
{
    #three .filter-row #search
    {
        width: 75%;
    }
}
@media (max-width: 767px)
{
    #three .filter-row #search
    {
        display: block;

        width: 90%;
        margin-right: auto; 
        margin-left: auto;
    }
}
#three .filter-row #switch
{
    font-size: 30px;

    position: relative; 

    display: block;

    width: 46.8px;
    height: 26px;

    border: 1px solid #ddd;
    border-top-left-radius: 40% 80%;
    border-top-right-radius: 40% 80%;
    border-bottom-right-radius: 40% 80%;
    border-bottom-left-radius: 40% 80%;
    outline: none;
    background: #fff;

    -webkit-appearance: none;
}
#three .filter-row #switch:hover
{
    cursor: pointer;
}
#three .filter-row #switch:after
{
    position: absolute;
    top: 5.2px;
    left: 6.5px;

    width: 13px;
    height: 13px;

    content: '';
    -webkit-transition: .5s ease 0s;
            transition: .5s ease 0s; 

    border-radius: 50%;
    background: #4338de;
}
#three .filter-row #switch:checked:after
{
    left: 26px;
}
#three .filter-row .switch,
#three .filter-row .search
{
    width: 50%;

    text-align: center;
}
#three .filter-row .search
{
    text-align: right;
}
@media (max-width: 767px)
{
    #three .filter-row .search
    {
        position: relative; 

        margin-top: 30px;
    }
}
#three .filter-row .switch
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    text-transform: uppercase;

    color: #a0a2bf; 

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
#three .filter-row .switch .active
{
    color: #4338de;
}
#three .filter-row .switch .switch-item
{
    padding: 0 20px;
}

#four
{
    padding: 30px 0; 

    background: #fff;
}
#four .heading
{
    font-size: 1.7rem;
    font-weight: 300;

    margin: 20px;

    text-align: center;
    text-transform: uppercase; 

    color: #00055a;
}
@media (max-width: 991px)
{
    #four .table-wrapper
    {
        overflow-x: scroll;
    }
}
#four table
{
    font-size: 12px;

    width: 100%;
    margin-bottom: 30px; 

    text-align: left;
    letter-spacing: 1px;
    text-transform: uppercase;
}
#four table thead
{
    border-bottom: 1px solid #4338de;
}
#four table th,
#four table td
{
    padding: 20px 10px;
}
#four table th
{
    font-weight: 300; 

    color: #a0a2bf;
}
#four table tbody tr
{
    border-bottom: 1px solid #ddd;
}
#four table .ico
{
    max-width: 50px;
}
#four table .ind-g:before
{
    display: inline-block;

    width: 6px;
    height: 6px;
    margin-right: 10px;

    content: '';

    border-radius: 50%;
    background: #1cd87d;
}
#four table .ind-r:before
{
    display: inline-block;

    width: 6px;
    height: 6px;
    margin-right: 10px;

    content: '';

    border-radius: 50%;
    background: #ee4134;
}
#four table .ind-y:before
{
    display: inline-block;

    width: 6px;
    height: 6px;
    margin-right: 10px;

    content: '';

    border-radius: 50%;
    background: #e5d126;
}
#four table .dollar:before
{
    content: '$';
}
#four .dsbl
{
    color: #a0a2bf;
}
#four .show-more
{
    text-align: center;
}
#four .btn-grey
{
    display: inline-block; 

    padding: 10px 30px;

    color: #a0a2bf;
    border: 1px solid #ddd;
}
