.text-blue {
  color: $main-blue;
}
.text-grey {
  color: $main-grey;
}
.text-dark-blue {
  color: $main-dark-blue;
}
.text-center {
  text-align: center;
}
.card-block {
  background: #fff;
  // margin-bottom: 10px; 
  padding: 20px;
}
.shadow-1 {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.shadow-2 {
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.shadow-3 {
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}
.shadow-4 {
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}
.shadow-5 {
  box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
}
.shadow-mirocana {
  box-shadow: 4px 4px 15px -4px rgba(0,0,0,.43);
}
$transition: .5s ease .1s;

.hover-shadow-1 {
  transition: $transition;
  &:hover {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  }
}
.hover-shadow-2 {
  transition: $transition;
  &:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.25);
  }
}
.hover-shadow-3 {
  transition: $transition;
  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  }
}
.hover-shadow-4 {
  transition: $transition;
  &:hover {
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
  }
}
.hover-shadow-5 {
  transition: $transition;
  &:hover {
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
  }
}
.shadow-mirocana-hover {
  transition: $transition;
  &:hover {
    box-shadow: 6px 8px 20px -5px rgba(0,0,0,.43);
  }
}
.mirocana-icon:before {
  content: url('../images/icons/mirocana-icon.png');
}
.big {
  font-size: 120%;
}
table {
  border-collapse: collapse;
}
// main {
//   min-height: 79vh;
// }
footer {
  padding: 10px;
  text-align: center;
  margin-top: 50px;
}

.loader {
  height: 72vh;
  i.fa {
    margin: 10% auto;
    display: block;
  }
}