body {
  font-family: $saira;
  font-size: 16px;
  background: $pattern-bg;
  color: $main-dark-blue;
  font-weight: 300;
  letter-spacing: 1px;
}

header {
  .brand {
    font-family: $montserrat;
    text-transform: uppercase;
    color: $main-blue;
    text-align: center;
    font-size: 26px;
    letter-spacing: 2px;
    margin: 3rem;
  }
}

main {
  opacity: 0;
  height: 0;
  transition: .5s ease .1s;
  .container {
    display: none;
  }
}

#one {
  text-align: center;
  margin-bottom: 20px;
  h3 {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: $main-blue;
  }
  p {
    font-size: 18px;
    // font-weight: 300;
    @include media-breakpoint-up(lg) {
      max-width: 46%;
      margin: 0 auto 20px;
    }
  }
}

#two {
  $gutters: 2px;
  margin-bottom: 20px;
  .row {
    margin-left: -$gutters;
    margin-right: -$gutters;
  }
  .col-12 {
    padding: $gutters;
  }
  .stat-block {
    display: flex;
    height: 100%;
    .ico {
      display: block;
      // float: left;
    }
    .info-block {
      padding-left: 10px;
      padding-right: 10px;
      position: relative;
      .heading {
        text-transform: uppercase;
        color: $main-grey;
      }
      .content {
        text-transform: uppercase;
        color: $main-dark-blue;
        min-height: 60px;
        font-size: 14px;
      }
      .btn {
        position: absolute;
        bottom: 0;
        text-transform: uppercase;
        color: $main-blue;
        text-decoration: none;
        font-size: 13px;
        margin-top: 35px;
        display: block;
        &:hover {
          text-decoration: underline;
        }
        &:before {
          margin-right: 5px;
          display: inline-block;          
        }
      }
      .btn-settings {
        &:before {
          content: url('../images/icons/settings.png');
        }
      }
      .btn-activity {
        &:before {
          content: url('../images/icons/activity.png');
        }
      }
      .btn-logout {
        &:before {
          content: url('../images/icons/logout.png');
        }
      }
    }
  }
}

#three {
  .row {
    .col-12 {
      &:first-child .tab {
        border-left: none;
      }
      &:last-child .tab {
        border-right: none;
      }
    }
  }
  .tab {
    text-align: center;
    background: #fff;
    color: $main-grey;
    padding: 20px;
    border: 1px solid $border-grey;
    border-top: none;
    &.active {
      border-bottom: 2px solid $main-blue;
      .tab-text {
        color: $main-blue;
      }
    }
    &:hover {
      cursor: pointer;
    }
    .tab-text {
      margin-bottom: 0;
      text-transform: uppercase;

    }
  }
  .filter-row {
    background: #fff;
    border-bottom: 1px solid $border-grey;    
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-breakpoint-down(sm) {
      padding: 20px 0;
    }
    .row {
      width: 100%;
    }
    #search-label {
      position: relative;
      left: 35px;
      top: 2px;
      @include media-breakpoint-down(sm) {
        position: absolute;
        top: 21px;
      }
      &:before {
        content: url('../images/icons/search.png');
      }
    }
    #search {
      width: 55%;
      border: none;
      padding: 20px 20px 20px 45px;
      background: $low-grey-color-bg;
      font-family: $saira;
      margin-right: 20px;
      @mixin placeholder() {
        font-weight: 300;
      }
      @mixin placeholder-focus() {
        opacity: .4;
        font-size: 90%;
        transition: .5s ease 0s;
        font-weight: 300;
      }
      &::-webkit-input-placeholder {
        @include placeholder();
      }
      &:-ms-input-placeholder {
        @include placeholder();
      }
      &::-moz-placeholder {
        @include placeholder();
      }
      &:-moz-placeholder {
        @include placeholder();
      }
      &:focus::-webkit-input-placeholder {
        @include placeholder-focus();
      }
      &:focus:-ms-input-placeholder {
        @include placeholder-focus();
      }
      &:focus::-moz-placeholder {
        @include placeholder-focus();
      }
      &:focus:-moz-placeholder {
        @include placeholder-focus();
      }
      @include media-breakpoint-only(md) {
        width: 75%;
      }
      @include media-breakpoint-down(sm) {
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    #switch {
      $size: 26px;
      $radius: 40% 80%;
      display: block;
      border: 1px solid $border-grey;
      border-bottom-right-radius: $radius;
      border-top-right-radius: $radius;
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
      outline: none;
      -webkit-appearance: none;
      background: #fff;
      width: $size*1.8;
      font-size: 30px;
      height: $size;
      position: relative;
      &:hover {
        cursor: pointer;
      }
      &:after {
        content: '';
        position: absolute;
        height: $size*.5;
        width: $size*.5;
        border-radius: 50%;
        background: $main-blue;
        top: $size*.2;
        left: $size*.25;
        transition: .5s ease 0s;
      }
      &:checked:after {
        left: $size;
        
      }
    }

    .switch, .search {
      width: 50%;
      text-align: center;
    }
    .search {
      text-align: right;
      @include media-breakpoint-down(sm) {
        margin-top: 30px;
        position: relative;
      }
    }
    .switch {
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      color: $main-grey;
      .active {
        color: $main-blue;
      }
      .switch-item {
        padding: 0 20px;
      }
    }
  }
}
#four {
  background: #fff;
  padding: 30px 0;
  .heading {
    text-align: center;
    font-size: 1.7rem;
    color: $main-dark-blue;
    margin: 20px;
    font-weight: 300;
    text-transform: uppercase;
  }
  .table-wrapper {
    @include media-breakpoint-down(md) {
      overflow-x: scroll;
    }
  }
  table {
    text-transform: uppercase;
    width: 100%;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: left;
    margin-bottom: 30px;
    thead {
      border-bottom: 1px solid $main-blue;
    }
    th, td {
      padding: 20px 10px;        
    }
    th {
      color: $main-grey;
      font-weight: 300;
    }
    tbody {
      tr {
        border-bottom: 1px solid $border-grey;
      }
    }
    .ico {
      max-width: 50px;
    }
    .ind-g {
      &:before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background: $main-green;        
      } 
    }
    .ind-r {
      &:before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background: $main-red;        
      } 
    }
    .ind-y {
      &:before {
        content: '';
        display: inline-block;
        margin-right: 10px;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background: $main-yellow;        
      } 
    }
    .dollar {
      &:before {
        content: '$';
      }
    }
  }
  .dsbl {
    color: $main-grey;
  }
  .show-more {
    text-align: center;
  }
  .btn-grey {
    border: 1px solid $border-grey;
    color: $main-grey;
    padding: 10px 30px;
    display: inline-block;
  }
}
