@font-face {
  font-family: 'Montserrat';
  src: url('fonts/montserrat.ttf') format('ttf'),
       url('fonts/montserrat.woff2') format('woff2'),
       url('fonts/montserrat.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: url('fonts/SairaSemiCondensed-Thin.ttf') format('ttf'),
       url('fonts/SairaSemiCondensed-Thin.woff2') format('woff2'),
       url('fonts/SairaSemiCondensed-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: url('fonts/SairaSemiCondensed-Light.ttf') format('ttf'),
       url('fonts/SairaSemiCondensed-Light.woff2') format('woff2'),
       url('fonts/SairaSemiCondensed-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: url('fonts/SairaSemiCondensed-Regular.ttf') format('ttf'),
       url('fonts/SairaSemiCondensed-Regular.woff2') format('woff2'),
       url('fonts/SairaSemiCondensed-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: url('fonts/SairaSemiCondensed-Medium.ttf') format('ttf'),
       url('fonts/SairaSemiCondensed-Medium.woff2') format('woff2'),
       url('fonts/SairaSemiCondensed-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: url('fonts/SairaSemiCondensed-SemiBold.ttf') format('ttf'),
       url('fonts/SairaSemiCondensed-SemiBold.woff2') format('woff2'),
       url('fonts/SairaSemiCondensed-SemiBold.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: url('fonts/SairaSemiCondensed-Bold.ttf') format('ttf'),
       url('fonts/SairaSemiCondensed-Bold.woff2') format('woff2'),
       url('fonts/SairaSemiCondensed-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Saira';
  src: url('fonts/SairaSemiCondensed-ExtraBold.ttf') format('ttf'),
       url('fonts/SairaSemiCondensed-ExtraBold.woff2') format('woff2'),
       url('fonts/SairaSemiCondensed-ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

$saira: "Saira", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$montserrat: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

$dark-blue-color: #00055a;
$accent-color: #3641ff;
$main-blue: #4338de;
$grey-color: #5b5c65;
$white-color: #ffffff;
$main-dark-blue: #00055a;
$main-grey: #a0a2bf;
$main-yellow: #e5d126;
$main-green: #1cd87d;
$main-red: #ee4134;
$low-grey-color: #999bba;
$border-grey: #ddd;

$low-grey-color-bg: #f4f5f8;

$pattern-bg: url('../images/pattern-bg.png'), $low-grey-color-bg;

// Breakpoints

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

// Breakpoint viewport sizes and media queries.
//
// Breakpoints are defined as a map of (name: minimum width), order from small to large:
//
//    (xs: 0, sm: 576px, md: 768px)
//
// The map defined in the `$grid-breakpoints` global variable is used as the `$breakpoints` argument by default.

// Name of the next breakpoint, or null for the last breakpoint.
//
//    >> breakpoint-next(sm)
//    md
//    >> breakpoint-next(sm, (xs: 0, sm: 576px, md: 768px))
//    md
//    >> breakpoint-next(sm, $breakpoint-names: (xs sm md))
//    md
@function breakpoint-next($name, $breakpoints: $grid-breakpoints, $breakpoint-names: map-keys($breakpoints)) {
  $n: index($breakpoint-names, $name);
  @return if($n < length($breakpoint-names), nth($breakpoint-names, $n + 1), null);
}

// Minimum breakpoint width. Null for the smallest (first) breakpoint.
//
//    >> breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px))
//    576px
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

// Maximum breakpoint width. Null for the largest (last) breakpoint.
// The maximum value is calculated as the minimum of the next one less 0.1.
//
//    >> breakpoint-max(sm, (xs: 0, sm: 576px, md: 768px))
//    767px
@function breakpoint-max($name, $breakpoints: $grid-breakpoints) {
  $next: breakpoint-next($name, $breakpoints);
  @return if($next, breakpoint-min($next, $breakpoints) - 1px, null);
}

// Returns a blank string if smallest breakpoint, otherwise returns the name with a dash infront.
// Useful for making responsive utilities.
//
//    >> breakpoint-infix(xs, (xs: 0, sm: 576px, md: 768px))
//    ""  (Returns a blank string)
//    >> breakpoint-infix(sm, (xs: 0, sm: 576px, md: 768px))
//    "-sm"
@function breakpoint-infix($name, $breakpoints: $grid-breakpoints) {
  @return if(breakpoint-min($name, $breakpoints) == null, "", "-#{$name}");
}


// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media of at most the maximum breakpoint width. No query for the largest breakpoint.
// Makes the @content apply to the given breakpoint and narrower.
@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

// Media that spans multiple breakpoint widths.
// Makes the @content apply between the min and max breakpoints
@mixin media-breakpoint-between($lower, $upper, $breakpoints: $grid-breakpoints) {
  @include media-breakpoint-up($lower, $breakpoints) {
    @include media-breakpoint-down($upper, $breakpoints) {
      @content;
    }
  }
}

// Media between the breakpoint's minimum and maximum widths.
// No minimum for the smallest breakpoint, and no maximum for the largest one.
// Makes the @content apply only to the given breakpoint, not viewports any wider or narrower.
@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
  @include media-breakpoint-between($name, $name, $breakpoints) {
    @content;
  }
}